extends layout/layout.pug

//- mixin
mixin list_item(title, activeClass)
  li(class= `faq__list__item ${activeClass || ''}`)
    a(href='#').faq__list__item-link 
      .faq__list__item-question 
        span Q
        h3= title  
      i(class="fas fa-chevron-up")
    .faq__list__item-content
      span A
      .faq__list__item-content-text
        if(block)
          block

block head
  +head_block({
    title: 'FAQ'
  })

block current 
  - var currentUrl = "faq"

block content
  .section.faq
    h2.faq__title FAQ
    ul.faq__list
      +list_item('為什麼這個計畫到了第四期還是「實驗」計畫？', 'active')
        p 這個計畫搞不好永遠都會叫做「實驗」計畫，因為每一期我都當作一個實驗，實驗我的教學成效如何、品質如何，根據學生的回饋調整課程內容，繼續做下一輪的實驗，持續優化、改進。
      +list_item('為什麼我要花這麼多錢只為了看線上影片？')
        p 因為這個課程不只有線上影片。
        p 除了線上影片以外，還有批改作業的服務以及學習社群，還有學員專屬的直播 QA 時間。這些東西全都加在一起，才是這個計畫的獨特之處。若是你覺得只看線上影片就很足夠了，部分的課程內容其實有在對外販售，可以參考：  
          a(href="https://lidemy.com/", target="_blank", rel="noopener") Lidemy 課程列表 </a>。
      +list_item('為什麼課程裡前後端都有而不是只專注在一個？兩邊都學會不會樣樣通樣樣鬆？')
        p 首先，讓你前後端都學絕對不是讓你成為 Full-stack 工程師，成為 Half-stack 倒是有點機會。無論你是前端還是後端，別忘了前面還有大家經常性忽略的一個詞「Web」，Web 前端與後端才是全名。
        p 既然 Web 包含了前後端兩個部分，少了任何一部份都不完整，都會讓你對於整個網路的理解缺了一塊。因此這堂課從前到後再由後到前，希望把你對網路的知識整個打通，這樣我覺得才是最完整、最全面的學習。
        p 至於樣樣通樣樣鬆，不會。
        p 一併學習前後端的好處就是對網路的基礎會比只學單個的紮實許多，因為你對整體有個全面性的理解。而且這邊前後端都注重原理與基礎，基礎打好之後學工具便不是難事。
      +list_item('學生出來會不會沒人帶就什麼都不會？')      
        p 首先，大家要很清楚知道的一點是，在職場上沒人帶才是常態。很有可能你進去的公司只有你一個工程師，或是儘管有一個 team，但也不會有一個人專門去帶你。本來就沒有人有義務去帶你。
        p 為了不讓學生變成只會看影片跟著打 code ，關了影片什麼都寫不出來的那種人，我在作業上有做一些調整，很多作業的內容跟要你寫的東西是課程裡面沒有的，你就必須自己去找資料才能實作得出來。
        p 所以在課程中就已經培養了一定程度的自學能力。
      +list_item('學費方案是怎麼訂的？')  
        p 先來談第一種「A 求職方案」，收費方式為找到工作後的 1.5 倍月薪。會用這種收費方式是因為想把學生的利益跟我們的利益綁在一起。如果你找不到工作，我們就拿不到錢。所以我們的目標是一致的：「幫助你找到工作」。不過當初這樣設計的時候其實沒有想那麼多，心裡想的其實是：「你認真上課卻找不到工作，是我們的問題，因此不該收錢」。
        p 再來看看買斷制，買斷制主要是給「沒有求職意願」的人的方案，因為原本的收費模式不是用，所以才有了買斷制。對那些對自己求職很有自信的人，也一樣可以透過買斷制來節省學費。
        p 最後看原本有求職意願後來沒有的案例，對於這種案例，一樣會收取一定比例的學費。這是為什麼呢？因為以前幾屆發生過這種情況，那就是原本有求職意願，到後來卻沒有了。依據以前的制度，這種情況一樣只需要付 5000 元保證金即可，沒有其他額外費用。
        p 但學費之所以會設計成「找到工作後的 1.5 倍月薪」，是因為相信大家都有求職意願，願意去找工作，並且以找到工作與否來判定計畫是否有效。如果沒有了求職意願，就不應該用這個模式來計費。因此，這一期才會調整成「需要付一定比例學費」來維持公平性。
  script(defer src="js/faq.bundle.js")