extends layout/layout.pug

include mixin/_mixin.pug

block head
  +head_block({
    title: 'index'
  })

mixin features__item(title)
  li.features__list__item
    p.title= title
    p.desc
      block


block content
  section.section.features
    +common_title('課程特色', 'features')
    ul.features__list
      +features__item('技術脈絡')
        | 學程式跟學歷史一樣，要掌握的是脈絡而不是單點。在這邊基礎為主，工具為輔，藉由連貫的課程帶你認識技術脈絡，也培養紮實的基本功。
      +features__item('學習社群')
        | 藉由學習系統以及群組，認識不同背景的同學，從彼此身上學習，也能夠互相砥礪，創造出良好的學習氛圍。我們鼓勵交流，卻不強制。
      +features__item('作業很多')
        | 學程式光看是沒有用的，一定要動手做，藉由作業培養實作能力。二十四週的課程，每一週都有作業，每個作業都會有人批改。
      +features__item('自學能力')
        | 在這裡不只學程式，也學習如何學習。課程中後期並不會一步步帶著你，而是留下一部分的自學空間，培養自學能力。課程是一時的，學習是一輩子的。
      +features__item('資訊透明')
        | 課綱、作業、心得、成效、反省，在這裡每一項東西都是對外公開的。我希望你徹底瞭解這個課程在幹嘛，再決定要不要報名。
        | 你有看過有課程對外公開自己的缺點嗎？沒有的話，現在 讓你看看
      +features__item('直播解惑')
        | 除了錄好的線上課程以外，還有不定期直播，開放各式各樣的提問，現場幫你解答。
    .pic.features__pic
      img(src="./image/img_features.svg")
  section.section.methods
    +common_title('教學方式', 'methods')
    p.methods__desc
      | 課程一共有 26 週，前 22 週學習前後端基礎，最後 4 週分組做期末專案。上課方式為觀看錄製好的線上課程影片，碰到問題可以隨時找助教跟老師求救。
      | 每一週都會有一個作業，寫完以後會由助教或老師批改，從中提升程式能力。

