.chart-container {
  position: relative;
  width: 80vw;
  max-width: 100%;
  height: 70vh;
  max-height: 500px;
  margin: 0 auto 50px auto;
}

@include mq('tablet') {
  .chart-container {
    width: 90vw;
    height: 80vh;
  }
}

/* student-report -------------------- */
.student-report {
  @extend %shadow-card;
  max-width: $width-desktop-s;
  padding-top: 40px;
  margin-bottom:2.5rem;

  &__links {
    max-width: 550px;
    text-align: left;
    margin: 0 auto;

     a {
        @extend %link;
        border: none;
        color: $grey;
        text-decoration-color: #c8c8c8;
        text-decoration-style: solid;
        margin-bottom: .5rem;

        em {
          font-style: normal;
          color: $main-color;
        }
      }
  }
  .post {
    .common__title, &__content  {
      text-align: center;
    }
  }
}

@include mq('desktop-s') {
  .student-report {
    margin: 0 20px 1rem 20px;

    .post {
      padding: 0;
    }
  }
}

@include mq('tablet-s') {
  .student-report {
    .post {
      padding: 0;
    }

    &__links {
      max-width: 100%;
      padding-top: 1rem;

      a {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        margin: 10px 0;

        &:before {
          position: relative;
          top: 27px;
          left: -30px;
        }

        em {
          margin-bottom: 5px;
        }
      }
    }
  }
}
/* student-experience -------------------- */
.student-experience {
  @extend %shadow-card;
  max-width: $width-desktop-s;

  @include mq('mobile-l') {
    padding: 20px 0;
  }
}

.student-list {
  background: rgba(233, 233, 233, 0.9);
  padding: 90px 30px 50px 50px;
  border-radius: 50px;
  position: relative;
  
  &:before {
    @include pseudo(block);
    @include absolute($top: -245px, $left: 0);
    background: url(./../image/img_student_experence.svg) top center no-repeat;
    background-size: 400px auto;
    width: 100%;
    height: 250px;
  }

  &__container {
    background: url(./../image/bg_grid.png) center center repeat;
    background-size: 24px;
    position: relative;
    padding: 70px 35px 30px;
    margin: 150px 35px 30px;
  }

  &__group {
    margin-bottom: 20px;
    padding-left: 15px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    flex: 1;
    align-content: center;
    justify-content: flex-start;

    &:before {
      @include pseudo(inline-block);
      @include absolute($top: 0, $left: 0);
      width: 4px;
      height: 100%;
      border-radius: 2px;
    }
  }
}

@include mq('desktop-s') {
  .student-list {
    padding: 90px 10px 50px 30px;

    &__container {
      margin: 150px 0 30px;
      padding: 70px 18px 30px;
    }
  }
}

@include mq('tablet') {
  .student-list {
    padding: 90px 10px 50px 30px;

    &:before {
      top: -200px;
      background-size: 350px auto;
    }

    &__container {
      padding-top: 40px;
    }
  }
}

/* .student-list > card */
.student-list__card {
  transition: transform 0.5s;
  flex-grow: 1;
  display: inline-block;
  background: white;
  padding: 5px 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin: 0 10px 10px 0;
  flex: 0 1 145px;
  word-break: break-all;

  p {
    @include font-size(15px);
    margin-bottom: 0;
    color: $grey-dark;
    font-weight: bold;
  }
  span {
    font-size: 13px;
    color: $grey-light;
    position: relative;
    &:after {
      @include pseudo(inline-block);
      width: 10px;
      height: 10px;
      background: $main-color;
      margin-left: 7px;
      border-radius: 5px;
    }
  }
}


@include mq('mobile-l') {
  .student-list {
    padding: 90px 10px 30px;
    border-radius: 20px;

    &:before {
      background-size: 230px auto;
      top: -130px;
      height: 130px;
    }

    &__container {
      padding: 90px 5px 30px;
      margin-top: 50px;
    }

    &__group {
      padding: 5px;
      &:before {
        width: 100%;
        height: 3px;
        bottom: -10px;
        top: auto;
      }
    }
    &__card {
      flex-basis: calc(50% - 5px);

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
}

/* .student-list > menu */
.student-list__menu {
  @include absolute($top: -20px, $left: 0);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  &__link {
    display: flex;
    max-width: 180px;
    margin-right: 10px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    a {
      display: inline-block;
      padding: 10px 50px;
      border-radius: 30px;
      box-shadow: 0px 4px 5px rgba(61, 8, 8, 0.15);
      margin-bottom: 10px;
    }

    p {
      @include font-size(15px);
      font-weight: bold;
      color: white;
      margin: 0;
      letter-spacing: 0.18rem;
      line-height: 30px;

      i {
        display: inline-block;
        margin-left: 10px;
        font-size: 11px;
        line-height: 30px;
      }
    }
    span {
      font-size: 13px;
      color: $grey;
      padding-bottom: 2px;
      border-bottom: 1px solid lighten($grey-light, 20);
    }
  }
}


@include mq('tablet') {
  .student-list__menu__link {
    a {
      padding: 10px 25px;
    }
  }
}
@include mq('mobile-l') {
  .student-list__menu__link {
    a {
      padding: 5px 15px;
    }

    span {
      display: none;
    }
  }
}


$groupColor: (
  0: $main-color,
  1: #FF9393,
  2: $grey-light,
);

/* .student-list > menu:theme */
@each $groupNum, $color in $groupColor {
  .student-list__menu__link {
    &.link_#{$groupNum} a {
      background: $color;
    }

    &.link_#{$groupNum}:hover a {
      background: lighten($color, 5);
    }
  }
}

/* .student-list: theme */
@each $groupNum, $color in $groupColor {
  .student-list {
    &__group {
      &.group_#{$groupNum}:before {
        background: $color;
      }
    }

    &__card {
      .group_#{$groupNum} & span:after {
        background: $color;
      }
    }
  }
}

/* .student-list > card:hover */
.student-list__card:hover {
  transform: translateY(-1px);

  & > * {
    color: white
  }

  @each $groupNum, $color in $groupColor {
    .group_#{$groupNum} & {
      background: $color;
      span:after {
        background: lighten($color, 20);
      }
    }
  }
}