/* post -------------------- */
.post {
  max-width: $width-tablet;
  margin: 0 auto;

  &:not(:nth-last-of-type(1)) {
      margin-bottom: 2.5rem;
    }

  &__title {
    @include font-size(22px);
    margin-bottom: 20px;
    position: relative;
    padding-left: 15px;
    color: $color-theme-dark;

    a:hover {
      color: $main-color;
    }

    &:before {
      display: inline-block;
      content: '#';
      color: $main-color;
      font-size: 16px;
      @include absolute($top: 3px, $left: 0);
      font-weight: bold;
    }
  }

  &__content {
    border-top: 1px dashed $grey-light;
    padding: 25px 0;

    p {
      @include font-size(16px);
      line-height: 2rem;
      color: $grey;
    }
  }
}

/* post > strong, a */
.post__content a {
  display: inline-block;
  @include font-size(17px);
  margin: 2px 5px;
  padding: 0px 10px;
  color: $color-theme-dark;
  font-weight: bold;
  border-bottom: 2px solid $color-theme-dark;
  box-shadow: 0 0 1px rgba(black, 0.1);
  line-height: 1.7rem;

  .theme-light & {
    color: white;
  }

  &:hover {
    border-color: lighten($color-theme-dark, 30);
    color: lighten($color-theme-dark, 30);
  }
}
.post__content strong{
  @include font-size(17px);
  margin-bottom: 10px;
  position: relative;
  margin: 0 5px;
  z-index: 1;
  padding: 0 5px;
  font-weight: normal;

  &:before {
    content: '';
    display: block;
    background: #e1c9c9;
    width: 100%;
    height: 9px;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: -1;

    .theme-light & {
      background: darken($main-color, 10);
    }
  }
}

/* post: theme-light */
.post {
  .theme-light &__title {
    color: white;
    &:before {
      color: rgba(white, 0.5);
    }

    a:hover {
      color: rgba(white, 0.9);
    }
  }
  .theme-light &__content {
    border-color: white;
    p {
      color: white;
      strong {
        color: white;
      }
    }
  }
}

/*  plan-compare -------------------- */
.plan-compare {
  display: flex;
  justify-content: space-around;
  max-width: $width-desktop-m;
  margin: 0 auto;
  padding: 20px;

  .plan__item {
    @extend %transition;
    border: 1px solid $grey-light;
    max-width: 45%;
    text-align: center;
    background:white;
    border-radius: 10px;
    padding: 30px;
  }
}

 @include mq('tablet') {
  .plan-compare {
    flex-wrap: wrap;
    .plan__item {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
}

/* plan-compare > item */
.plan {
  &__version {
    @include font-size(14px);
    display: block;
    color: $grey-light;
    margin-bottom: 20px;
    font-weight: bold;
  }

  &__title {
    @include font-size(24px);
    color: $grey-dark;
    margin-bottom: 20px;

    &:before {
      @extend %fontawesome-icon;
      @extend %transition;
      color: $grey-dark;
      font-size: 16px;
      content: fa-content($fa-var-arrow-alt-circle-right);
      position: relative;
      right: 15px;
      top: -3px;
    }
  }

  &__sub-title {
    @include font-size(15px);
    color: white;
    font-weight: normal;
    background: $grey-dark;
    padding: 8px 0;
    margin-bottom: 25px;
  }

  &__desc {
    @include font-size(15px);
    color: $grey-light;
    line-height: 1.5rem;
    margin-bottom: 20px;
    text-align: left;
  }
}

.plan__item:hover {
  border-color: $main-color;
  transform: translateY(-3px);
  box-shadow: 0px 0px 20px rgba(202, 65, 65, 0.1);

  .plan__title {
    &:before {
      color: $main-color;
    }
  }
  .plan__sub-title {
    background: $main-color;
  }
}

/* plan-compare > item > content */
.plan__content {
  padding: 25px 0;
  border-top: 1px solid lighten($grey-light, 20);
  text-align: left;

  &__title {
    @include font-size(18px);
    font-weight: bold;
    color: $grey-dark;
    margin-bottom: 10px;
  }

  p {
    @include font-size(15px);
    color: $grey-light;
    line-height: 1.7rem;
    margin-bottom: 15px;
  }

  &:nth-last-of-type(1) {
    padding-bottom: 0;
  }
}

/* compare-table ---------------- */
.compare-table {
  max-width: $width-desktop-m;
  margin: 0 auto;
}

/* compare-table > table */
.table {
  border-radius: 5px;
  overflow: hidden;
  border-collapse: collapse;
  box-shadow: 0 0 20px 5px rgba(0,0,0,.2);
  margin: 20px 0  30px 0;
  background: #c47b7b;

    td, th {
        border: 1px solid white;
        color: #fff;
        min-width: 110px
    }

    thead td, thead th {
        background: #4f3f3f;
        color: #fff;
    }
}

/* apply ---------------- */
.apply {
  max-width: $width-desktop-l;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .pic {
    @extend %responsive-img;
    width: 350px;
  }

  &__content {
    max-width: 680px;
    flex: 1;
  }
}

/* apply-list ---------------- */
.post__content .apply-list {
  &__item {
    list-style: none;
    counter-increment: li;
    @include relative;

    &:not(:nth-last-of-type(1)) {
      margin-bottom: 2.5rem;
    }

    &:before {
      @include absolute($top: -5px, $left: -30px);
      @include font-size(24px);
      content: counter(li);
      display: inline-block;
      width: 20px;
      height: 20px;
      color: $main-color;
      font-weight: bold;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
  }

  &__title {
    @include font-size(16px);
    color: $grey;
    margin-bottom: 10px;
  }

  &__desc {
    @include font-size(14px);
    color: $grey-light;
    line-height: 1.5rem;
  }
}

/* letter-template ---------------- */
.letter-template {
  ol {
    background: $color-theme-dark;
    padding: 30px 20px 30px 60px;
    border-radius: 15px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
    margin: 2rem 0 2.5rem 0;
    position: relative;
  }

  .post__content .apply-list {
    &__item {
      margin-bottom: 1.5rem;
      &:before {
        color: #e9baac;
      }
    }
    &__title {
      color: white;
    }
     &__desc {
      color: rgba(white, 0.75);
    }
  }
}
/* letter-template > .copy */
.copy__container {
  @include absolute($bottom: -20px, $left: 0);
  width: 100%;
  text-align: center;

  #copy__text {
    width: 0;
    height: 0;
    opacity:0;
  }

  .copy__btn {
    @include button_1($withIcon: true, $iconId: $fa-var-copy);
    background-color: #a1817a;
    font-weight: bold;
    box-shadow: 0 4px 0px #c6c1c0;
    &:after {
      transition: none;
      right: auto;
      left: 5px;
    }


    &:hover {
      background: darken(#a1817a, 5);
    }
  }
}

