/*  plan-compare -------------------- */
.plan-compare {
  display: flex;
  justify-content: space-around;
  max-width: $width-desktop-m;
  margin: 0 auto;
  padding: 20px;

  .plan__item {
    @extend %transition;
    border: 1px solid $grey-light;
    max-width: 45%;
    text-align: center;
    background:white;
    border-radius: 10px;
    padding: 30px;

    @include mq('mobile-s') {
      padding: 20px 15px;
    }
  }
}

@include mq('tablet') {
  .plan-compare {
    flex-wrap: wrap;
    .plan__item {
      max-width: 500px;
      margin: 0 auto 1rem auto;
    }
  }
}

/* plan-compare > item */
.plan {
  &__version {
    @include font-size(14px);
    display: block;
    color: $grey-light;
    margin-bottom: 20px;
    font-weight: bold;
  }

  &__title {
    @include font-size(24px);
    color: $grey-dark;
    margin-bottom: 20px;

    &:before {
      @extend %fontawesome-icon;
      @extend %transition;
      color: $grey-dark;
      font-size: 16px;
      content: fa-content($fa-var-arrow-alt-circle-right);
      position: relative;
      right: 15px;
      top: -3px;
    }
  }

  &__sub-title {
    @include font-size(15px);
    color: white;
    font-weight: normal;
    background: $grey-dark;
    padding: 8px 0;
    margin-bottom: 25px;
  }

  &__desc {
    @include font-size(15px);
    color: $grey-light;
    line-height: 1.5rem;
    margin-bottom: 20px;
    text-align: left;
  }
}

.plan__item:hover {
  border-color: $main-color;
  transform: translateY(-3px);
  box-shadow: 0px 0px 20px rgba(202, 65, 65, 0.1);

  .plan__title {
    &:before {
      color: $main-color;
    }
  }
  .plan__sub-title {
    background: $main-color;
  }
}

/* plan-compare > item > content */
.plan__content {
  padding: 25px 0;
  border-top: 1px solid lighten($grey-light, 20);
  text-align: left;
  &__title {
    @include font-size(18px);
    font-weight: bold;
    color: $grey-dark;
    margin-bottom: 10px;
  }

  p {
    @include font-size(15px);
    color: $grey-light;
    line-height: 1.7rem;
    margin-bottom: 15px;
  }

  &:nth-last-of-type(1) {
    padding-bottom: 0;
  }
}

/* compare-table ---------------- */
.compare-table {
  max-width: $width-desktop-m;
  margin: 0 auto;
}

/* compare-table > table */
.table {
  border-radius: 5px;
  box-shadow: 0 0 20px 5px rgba(0,0,0,.2);
  margin: 20px 0  30px 0;
  overflow: hidden;
  border-collapse: collapse;
  background: #c47b7b;

    td, th {
        border: 1px solid white;
        color: #fff;
        min-width: 110px
    }

    thead td, thead th {
        background: #4f3f3f;
        color: #fff;
    }
}

/* apply ---------------- */
.apply {
  max-width: $width-desktop-l;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .pic {
    @extend %responsive-img;
    width: 350px;
    align-self: flex-end;
  }

  &__content {
    max-width: 680px;
    flex: 1;
  }
}

@include mq('tablet') {
  .apply {
    padding: 0;
    .pic {
      display: none;
    }
  }
}

/* apply-list ---------------- */
.post__content .apply-list {
  &__item {
    list-style: none;
    counter-increment: li;
    @include relative;

    &:not(:nth-last-of-type(1)) {
      margin-bottom: 2.5rem;
    }

    &:before {
      @include absolute($top: -5px, $left: -30px);
      @include font-size(24px);
      content: counter(li);
      display: inline-block;
      width: 20px;
      height: 20px;
      color: $main-color;
      font-weight: bold;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
  }

  &__title {
    @include font-size(17px);
    color: $grey-dark;
    margin-bottom: 10px;
  }

  &__desc {
    @include font-size(15px);
    color: darken($grey-light, 10);
    line-height: 1.7rem;
  }

  @include mq('mobile-s') {
    &__title {
      font-weight: bold;
    }

    &__desc {
      color: $grey;
    }
  }
}

/* letter-template ---------------- */
.letter-template {
  ol {
    background: $color-theme-dark;
    padding: 30px 20px 30px 60px;
    border-radius: 15px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
    margin: 2rem 0 2.5rem 0;
    position: relative;

    @include mq('mobile-s') {
      padding: 20px 10px  20px 50px;
    }
  }

  .post__content .apply-list {
    &__item {
      margin-bottom: 1.5rem;
      &:before {
        color: #e9baac;
      }
    }
    &__title {
      color: white;
    }
     &__desc {
      color: rgba(white, 0.75);
    }
  }
}
/* letter-template > .copy */
.copy__container {
  @include absolute($bottom: -20px, $left: 0);
  width: 100%;
  text-align: center;

  #copy__text {
    width: 0;
    height: 0;
    opacity:0;
  }

  .copy__btn {
    @include button_1($withIcon: true, $iconId: $fa-var-copy);
    background-color: #a1817a;
    font-weight: bold;
    box-shadow: 0 4px 0px #c6c1c0;
    &:after {
      transition: none;
      right: auto;
      left: 5px;
    }


    &:hover {
      background: darken(#a1817a, 5);
    }
  }
}

/* course-schedule ------- */
$color-course-schedule: #a1817a;

.course-schedule {
  &__list {
    padding: 15px 0px;
    margin-bottom: 2rem;
  }

  &__title {
    @include font-size(20px);
    background: $color-course-schedule;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 30px 10px 50px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 5px 10px rgba(233, 186, 172, 0.16), 0 15px 40px rgba(233, 186, 172, .15);
    border-bottom: 3px solid rgba($color-course-schedule, 0.4);
    position: relative;

    &:not(:nth-last-of-type(1)) {
      margin-bottom: 1.5rem;
    }

    &:before {
      @include pseudo(block);
      @include size(10px);
      @include absolute($left: 25px);
      border-radius: 50%;
      background: $color-course-schedule;
    }
  }

  p {
    @include font-size(17px);
    font-weight: bold;
    text-align: center;
    flex: 1;
    margin-bottom: 0;
    padding-left: 20px;
    color: darken($color-course-schedule, 5);
  }
}

.course-schedule__date {
  text-align: center;
  .year {
    display:block;
    font-size: 14px;
    color: $grey-light;
  }

  .day {
    display:block;
    color: #dfaa8b;
    font-size: 22px;
    line-height: 1.6rem;
    font-weight: bold;
  }
}

.course-schedule {
  @include mq('tablet') {
    &__item {
      padding-left: 30px;
      &:before {
        display: none;
      }
    }
  }
  @include mq('mobile-l') {
    &__item {
      padding: 10px 15px;
      p {
        padding-left: 10px;
      }
    }
    &__date {
       .day {
        font-size: 20px;
      }
    }
  }
}

.pic.payment-detail {
  @extend %responsive-img;
  border: 1px solid $grey-light;
  background: white;
  margin: 2rem auto;
  padding-bottom: 10px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px 5px rgba(0,0,0,.05);
}