/* faq -------------------- */
.faq {
  max-width: $width-desktop-s;
  line-height: 1.5;
  margin: 0 auto;
  &__title {
    @include font-size(36px);
    font-family: Montserrat;
    font-weight: bold;
    line-height: 2.5em;
    color: $main-color;
    text-align: center;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

/* faq__list__item */
.faq__list__item {
  @extend %transition;
  @include border-radius(5px);
  width: 90%;
  margin-bottom: 13px;
  color: $grey-light;
  border: 1px solid #dedede;
}

/* faq__list__item > link */
.faq__list__item-link {
  @extend %transition;
  @include border-radius(5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px 20px 0;
  color: $grey-light;
  background: white;

  .fa-chevron-up{
    transition: transform 0.5s;
  }

  &:hover {
    background-color: $main-color;
    color: white;
  }
}

/* faq__list__item > link > question */
.faq__list__item-question {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  &-title {
    @include font-size(16px);
    font-weight: bold;
    padding: 0 18px;
    margin: 0;
  }

  span {
    @include font-size(24px);
    font-weight: bold;
    padding-left: 24px;
  }
}

/* faq__list__item > content */
.faq__list__item-content {
  @include font-size(15px);
  @include border-radius(0 0 5px 5px);
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  max-height:0;
  display: flex;
  align-items: flex-start;
  background-color: white;
  overflow: hidden;

  &-text {
    padding: 20px;
  }

  p {
    margin-bottom: 16px;
  }

  a {
    color: $main-color;
  }

  span {
    @include font-size(24px);
    padding: 16px 0 0 26px;
    font-weight: bold;
    color: $main-color;
  }
}

/* active */
.faq__list__item.active {
  box-shadow: 0px 5px 15px rgba(202, 65, 65, 0.15), 0px 2px 0px rgba(0, 0, 0, 0.05);
  margin: 15px 0 28px 0;
  .fa-chevron-up {
    transform: rotate(180deg);
  }

  .faq__list__item-link {
    @include border-radius(5px 5px 0 0);
    background-color: $main-color;
    color: white;
  }

  .faq__list__item-content {
    transition: max-height 1s ease-in-out;
    max-height: 2000px;
  }
}
