// faq__list
.faq {
  max-width: $width-desktop-s;
  line-height: 1.5;
  margin: 0 auto;
  &__title {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    line-height: 2.5;
    color: $main-color;
    text-align: center;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.faq__list__item {
  @include border-radius(5px);
  width: 90%;
  margin-bottom: 13px;
  color: $grey-light;
  border: 1px solid #dedede;

  &-question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    &-title {
      @include font-size(16px);
      font-weight: normal;
      padding: 0 18px;
      margin: 0;
    }

    span {
      @include font-size(24px);
      font-weight: bold;
      padding-left: 24px;
    }
  }

  &-link {
    @extend %transition;
    @include border-radius(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px 20px 0;
    color: $grey-light;
    background: white;

    .fa-chevron-up{
      @extend %transition;
    }

    &:hover {
      background-color: $main-color;
      color: white;
    }
  }
}

.faq__list__item-content {
  @include font-size(15px);
  @include border-radius(0 0 5px 5px);
  @extend %transition;
  display: none;
  // align-items: flex-start;
  background-color: white;

  &-text {
    padding: 20px;
  }

  a {
    text-decoration: none;
    color: $main-color;
  }

  span {
    @include font-size(24px);
    padding: 20px 0 0 26px;
    font-weight: bold;
    color: $main-color;
  }
}

.faq__list__item.active {
  .fa-chevron-up {
    transform: rotate(180deg);
  }

  .faq__list__item-content {
    display: flex;
    align-items: flex-start;
  }
}
