/* main-visual -------------------- */
.main-visual {
  background: url(./../image/img_visual.png) center top no-repeat;
  background-size: 100% auto;
  max-width: $width-desktop-m;
  margin: 1rem auto 1rem auto;
  width: 100%;
  height: calc(90vh - 160px);
  min-height: 360px;
  text-align: center;
}

/* main-visual > project__title */
.project__title {
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;

  &__num {
    display: flex;
    @include font-size(48px);
    margin-bottom: 20px;
    font-weight: 900;
    letter-spacing: 0.3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &:before {
      @include pseudo();
      @include size(50px);
      background: url(./../image/logo_lidemy.png) center center no-repeat;
      background-size: 100%;
      margin-right: 20px;
    }
  }

  &__name {
    @include font-size(36px);
    letter-spacing: 1.5rem;
  }
}


/* main-visual > project__title */
.project__desc {
  width: 60%;
  margin: 0 auto;
  @include font-size(20px);
  line-height: 2.5rem;
  letter-spacing: .1rem;
  font-weight: normal;
  color: $grey-dark;

  strong {
    font-weight: normal;
    color: $main-color;
    letter-spacing: .15rem;
  }

  span {
    display: block;
    @include font-size(16px);
    letter-spacing: .15rem;
    color: grey;
  }
}

/* main-visual : rwd */
@include mq('desktop-m') {
  .project__title { 
    padding: 25px;
    margin-bottom: 2rem;

    &__num {
      display: flex;
      @include font-size(36px);
      margin-bottom: 20px;

      &:before {
        @include size(40px);
        margin-right: 20px;
      }
    }

    &__name {
      @include font-size(32px);
    }
  }
  .project__desc {
    @include font-size(18px);
    span {
      @include font-size(15px);
    }
  }
}

@include mq('tablet') {
  .project__title {
    padding: 7vw;
    &__num {
      margin-bottom: 7vw;
    }
    margin-bottom: 0rem;
  }
  .project__desc {
    width: calc(100% - 60px);
  }
}

@include mq('mobile-l') {
  .main-visual {
    height: calc(90vh - 110px);
  }

  .project__title {
    margin-bottom: 7vw;

    &__num {
      font-size: 26px;
      margin-bottom: 7vw;
      position: relative;
      top: -3vw;
      left: -2vw;

      &:before {
        @include size(30px);
        margin-right: 10px;
      }
    }

    &__name {
      letter-spacing: .4rem;
    }
  }
  .project__desc {
    letter-spacing: .05rem;

    strong {
      display: inline-block;
      padding: 0 10px;
      background: $main-color;
      color: white;
      line-height: 2rem;
      border-bottom: 2px solid darken($main-color, 10);
    }

    span {
      margin-top: 3rem;
    }
  }
}

/* features -------------------- */
.features {
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 4rem;

  .common__title {
    flex: 1 0 100%;
    margin-bottom: 2rem;
  }

  &__list {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;

  }
  &__pic {
    max-width: 350px;
    @extend %responsive-img;
  }
}

/* features > item */
.features__list__item {
  flex: 1 0 50%;
  padding: 0 15px;
  margin-bottom: 20px;

  .title {
    display: inline-block;
    @include font-size(17px);
    color: $grey;
    font-weight: bold;
    border-bottom: 1px solid lighten($grey-light, 20);
  }
  .desc {
    @include font-size(14px);
    color: $grey;
  }

  &:nth-child(2) .title,
  &:nth-child(3) .title,
  &:nth-child(6) .title {
    color: $main-color;
  }
}

@include mq('desktop-m') {
  .features {
    &__list {
      max-width: 800px;
    }
    &__pic {
      display: none;
    }
  }
}

@include mq('tablet') {
  .features {
    &__list {
      max-width: 500px;
      flex-flow: column nowrap;

      &__item {
        flex: 0;
        padding: 0;

        .title {
          font-size: 17px;
        }
      }
    }


  }
}

/* methods -------------------- */
.methods {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;

  .common__title {
    margin-bottom: 2rem;
  }

  &__desc {
    flex: 1 0 100%;
    @include font-size(15px);
    letter-spacing: 0.11rem;
    color: $grey;
    max-width: 600px;
    margin: 0 auto 4rem;
  }

}

/* methods > list */
.methods {
  &__list {
    max-width: 980px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  &__item {
    @extend %transition;
    position: relative;
    width: calc((100% - 30px) / 2);
    padding: 40px 160px 30px 30px;
    margin-bottom: 2rem;
    border: 1px solid $grey;
    background: white;
    border-radius: 0px 35px 35px 35px;
    text-align: left;

    .pic {
      @include absolute($top: 20px, $right: 0);
      width: 160px;
      height: 160px;
      background: url(./../image/img_methods.svg) left top no-repeat;
      background-size: 140px;
      background-position: right 20px top 26px;
    }

    .title {
      @include font-size(20px);
      color: $grey-dark;
      font-weight: bold;
      margin-bottom: 2rem;
      flex: 0 0 70%;
    }
    .desc {
      flex: 1;
      @include font-size(14px);
    }
  }
}

/* methods > list - theme */
.methods__item {
  &:hover {
    transform: translateY(-3px);
  }

  &:nth-child(2), &:nth-child(3) {
    background-color: $main-color;
    border: none;

    .title, .desc {
      color: white;
    }
  }

  &:nth-child(2) {
    border-radius: 35px 0 35px 35px;
    .pic {
      background-position-y: 30%;
    }
  }
  &:nth-child(3) {
    border-radius: 35px 35px 35px 0;
    .pic {
      background-position-y: 67%;
    }
  }
  &:nth-child(4) {
    border-radius: 35px 35px 0 35px;
    .pic {
      background-position-y: 102%;
    }
  }
}

@include mq('desktop-l') {
  .methods {
    &__item {
      max-width: 500px;
    }
  }
}

@include mq('tablet') {
  .methods {
    &__list {
      justify-content: center;
    }
    &__item {
      max-width: 500px;
      width: auto;
    }
  }
}
@include mq('mobile-l') {
  .methods {
    &__item {
      max-width: 500px;
      width: auto;
      padding: 40px 20px 20px;
      border-radius: 20px;
      
      &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
        border-radius: 20px;
      }

      .pic {
        width: 120px;
        height: 110px;
        background-size: 100px;
      }

      .title {
        width: calc(100% - 110px);
        margin-bottom: 60px;
      }
      
    }
  }
}

/* about-teacher -------------------- */
.about-teacher {
  background: url(./../image/bg_grid.png) center center repeat;
  background-size: 24px;
  position: relative;
  padding: 70px 50px 30px;
  margin: 150px 0 30px;

  &__container {
    max-width: $width-desktop-m;
  }

  &:before {
    @include pseudo(block);
    @include absolute($top: -95px, $left: 0);
    background: url(./../image/img_about_teacher.svg) top center no-repeat;
    background-size: 400px auto;
    width: 100%;
    height: 200px;
    z-index: 1;
  }

  &:after {
    @include pseudo(block);
    @include absolute($bottom: 0px, $left: 10px);
    background: url(./../image/img_about_teacher_left.svg) top center no-repeat;
    width: 90px;
    height: 191px;
    z-index: 1;
  }

  &__content {
    background: white;
    padding: 40px 60px 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    position: relative;
    border: 1px solid $grey;
  }
}

.about-teacher {
  &__desc {
    @include font-size(15px);
    line-height: 1.9rem;
    color: darken($grey, 5);
    margin-bottom: 2rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 650px;
    margin: 0 auto;

    a {
      display: block;
      width: calc((100% - 30px) / 2);
      margin-bottom: 10px;
      font-size: 14px;
      color: $grey;

      &:hover {
        color: $main-color;
      }

      &:before {
        @include pseudo('inline-block');
        @extend %fontawesome-icon;
        font-size: 12px;
        color: $main-color;
        margin-right: 10px;
        content: fa-content($fa-var-check);
      }
    }
  }
}


@include mq('tablet') {
  .about-teacher {
    margin-top: 70px;
    padding: 70px 20px 2rem;

    &:before {
      background-size: 300px auto;
      height: 120px;
      top: -35px;
      left: 5%;
    }

    &:after {
      left: -15px;
    }
  }
}

@include mq('tablet-s') {
  .about-teacher {
    &__list a {
      width: calc(100% - 30px);
      margin: 0 auto 10px;
    }
  }
}
@include mq('mobile-l') {
  .about-teacher {
    padding: 70px 10px 2rem;

    &:before {
      background-size: 280px auto;
    }

    &:after {
      display: none;
    }

    &__content {
      padding: 40px 25px 20px;
      border-radius: 30px;
    }

    &__list a {
      width: 100%;
    }
  }
}

/* schedule -------------------- */
.schedule {
  margin: 4rem 0;

  &__container {
    margin-bottom: 4rem;
  }
}

.schedule__list {
  margin-bottom: 1rem;

  &__container {
    display: flex;
    flex-wrap: wrap;
    max-width: $width-tablet;
    justify-content: space-evenly;
    margin: 0 auto;
  }

  &__name {
    text-align: center;
    font-weight: bold;
    color: $main-color;
  }
}

/* schedule__list > time */
.schedule__list__time {
  @include size(100px);
  display: flex;
  flex-direction: column;
  border-radius: 100px;
  background: $main-color;
  color: white;
  justify-content: space-around;
  padding: 22px;
  margin-bottom: 2rem;
  position: relative;
  align-items: flex-start;

  &:before {
    @include pseudo();
    @include size(115px);
    @include absolute();
    border-radius: 115px;
    border: 1.3px dashed #aaa;
    align-self: center;
  }

  &:after {
    @include pseudo();
    width: 60px;
    height: 1px;
    background: white;
    position: absolute;
    transform: rotate(-36deg);
  }
  
  span {
    font-size: 32px;
    font-weight: bold;
    line-height: 2.8rem;
  }

  .time__day {
    align-self: flex-end;
  }
}

@include mq('tablet') {
  .schedule__list__time {
    transform: scale(0.8);
    margin-bottom: .5rem;
  }
}

/* schedule__list: theme */
.schedule__list:nth-of-type(even) {
  .schedule__list__time {
    background: $grey-light;
  }

  .schedule__list__name {
    color: $grey-light;
  }
}

/* target -------------------- */
.target {
  margin: 2rem auto;
  max-width: $width-desktop-s;
  text-align: center;

  &__dialog {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 2rem;

    &__line {
      @include font-size(14px);
      text-align: center;
      position: relative;
      display: inline-block;
      margin: 1.5rem auto;

      i{
        margin-right: 10px;
        font-size: 13px;
      }
      
      &:before, &:after {
        @include pseudo();
        @include absolute($top: 15px, $left: -70px);
        width: 50px;
        height: 1px;
        background: $grey;
      }

      &:after { 
        left: auto;
        right: -60px;
      }
    }
  }

}

/* target > avatar */
.target__avatar {
  margin-right: 2rem;
  text-align: center;

  &__img {
    @include size(80px);
    background: url(./../image/img_avators.svg) center top no-repeat;
    background-size: 100% auto;
    margin-bottom: 10px;
  }

  &__name {
    @include font-size(15px);
    color: $grey;

    span {
      color: $main-color;
      margin-left: 5px;
    }
  }
}
/* target > bubble */
.target__bubble {
  @include font-size(16px);
  display: inline-block;
  padding: 13px 20px;
  background: $main-color;
  color: white;
  border-radius: 20px;
  position: relative;
  bottom: 30px;
  max-width: 500px;
  line-height: 2rem;
  letter-spacing: 0.06rem;
  text-align: left;

  &:before {
    @include pseudo();
    @include absolute($bottom: -7px, $left: -17px);
    width: 40px;
    height: 30px;
    background: url(./../image/img_bubble_deco.svg) center top no-repeat;
    background-size: 100% auto;
  }

  strong {
    border-bottom: 1px solid white;
    padding-bottom: 3px;
    margin: 0 5px;
    white-space:nowrap;

  }

  a {
    border: 1px solid white;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 0 5px;
    white-space:nowrap;


    &:hover {
      background: rgba(white, 0.1);
      color: white;
    }
  }
}

/* target > theme */
.target__dialog.theme-blue {
  flex-direction: row-reverse;

  .target__avatar {
    margin-right: 0;
    margin-left: 2rem;

    &__img {
      background-position: bottom;
    }

    &__name {
      span {
        color: $sub-color;
      }
    }
  }

  .target__bubble {
    background: $sub-color;

    &:before {
      background-position: center bottom;
      left: auto;
      right: -17px;
      bottom: 10px;
    }
  }
}

.target__dialog:nth-of-type(even) {
  margin-bottom: 0;
}
.target__dialog:nth-of-type(3) {
  .target__avatar__img {
    background-position: center 32%;
  }
}
.target__dialog:nth-of-type(5) {
  .target__avatar__img {
    background-position: center 68%;
  }
}

@include mq('tablet-s') {
  .target {
    &__dialog {
      margin-bottom: 3rem;
      &__line {
        border: 1px solid #ddd;
        padding: 5px 10px;
        margin-bottom: 2.5rem;
        border-radius: 23px;

        &:before, &:after {
          display: none;
        }
      }
    }

    &__avatar {
      transform: scale(0.7);
      margin-right: 1rem;

      .target__dialog.theme-blue & {
        margin-left: 1rem;
      }
    }
    &__bubble {
      flex: 1;
      padding: 15px 20px;
    }
  }
}

/* previous-experience -------------------- */
.previous-experience {
  background-color: $main-color;
  padding: 95px 20px 100px 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: $main-color;
  background-image: url(./../image/index_portrait_1.svg), url(./../image/index_portrait_2.svg);
  background-position: top 10px left -65px, bottom -170px right -110px;
  background-repeat: no-repeat;

  .common__title {
    color: white;
    margin-bottom: 5rem;

    a:hover, a:before {
      color: white;
    }
  }
}

.previous-experience__list {
  max-width: $width-desktop-m;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @include mq('desktop-s') {
    flex-direction: column;
  }
}

.previous-experience__list-item {
  width: calc((100% - 72px) / 3);
  color: white;
  display: flex;
  flex-direction: column;

  @include mq('desktop-s') {
    width: 100%;
    margin-bottom: 40px;
  }

  &-text {
    background: white;
    box-shadow: 0px 10px 0px darken($main-color, 10);
    border-radius: 20px;
    padding: 20px 25px;
    margin-bottom: 35px;
    flex: 1;
  
    p {
      color: #4B5D68;
    }
  }

  &-author {
    @include font-size(14px);
    line-height: 2.0em;
    position: relative;
    padding-left: 80px;

    &:before {
      @include pseudo(inline-block);
      @include absolute($top: -5px, $left: 0px);
      content: "";
      width: 65px;
      height: 65px;
      background-color: $grey;
      border-radius: 50%;
    }

    .author-name {
      @include font-size(18px);
      font-weight: bold;
    }
  }
}