/* project */
.project {
  background: url('../image/img_project_1.svg') no-repeat;
  background-size: 350px auto;
  background-position: right 200px top 0px;

  @include mq('desktop-s') {
    background: none;
  }
}

/* project__text */
.project__text {
  max-width: $width-desktop-s;
  padding: 100px 20px 0 20px;
  margin: 0 auto 70px auto;

  @include mq('desktop-s') {
    text-align: center;
  }

  @include mq('mobile-m') {
    margin-bottom: 40px;
  }

  h3 {
    @include font-size(34px);
    margin-bottom: 30px;

    span {
      color: $main-color;
    }
  }

  p {
    max-width: 490px;
    line-height: 2em;

    @include mq('desktop-s') {
      max-width: 600px;
      margin: 0 auto;
    }
  }

  @include mq('desktop-s') {
    padding-top: 40px;
  }
}

/* project__list */
.project__list__container {
  width: 100%;
  background: linear-gradient(180deg, $main-bg-Color 38%, $main-color 0%);

  @include mq('desktop-s') {
    background: $main-color;
  }
}

.project__list {
  max-width: $width-desktop-l;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @include mq('desktop-s') {
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
  }

  &-item {
    width: calc((100% - 64px) / 3);
    margin: 0 16px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 33px 27px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);

    @include mq('desktop-s') {
      width: auto;
      max-width: 650px;
      margin-bottom: 30px;
    }

    h4 {
      @include font-size(18px);
      margin: 25px 0 20px 0;
    }

    p {
      @include font-size(14px);
      letter-spacing: 0.2px;
      line-height: 28px;
      color: $grey;
    }
  }

  &-item-icon {
    @include font-size(25px);
    color: $main-color;
  }
}

/* about */
.about {
  background-color: $main-color;
  padding: 140px 20px 115px 20px;

  @include mq('desktop-s') {
    padding-top: 70px;
  }

  @include mq('mobile-l') {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}

.about__info {
  max-width: $width-desktop-m;
  margin: 0 auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 65px 55px;

  @include mq('mobile-l') {
    padding: 35px 25px;
  }
}

/* about > teacher > title */
.about__teacher-title {
  padding-bottom: 35px;
  border-bottom: 1px dashed #c4c4c4;

  h3 {
    @include font-size(36px);
    font-weight: bold;
    color: $grey;
  }

  span {
    @include font-size(18px);
    color: $main-color;
  }
}

/* about > teacher > intro */
.about__teacher-intro {
  color: $grey;

  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dashed #c4c4c4;
    padding: 55px 0;

    @include mq('desktop-s') {
      flex-direction: column;
    }

    @include mq('mobile-l') {
      padding: 15px 0;
    }
  }

  h4 {
    @include font-size(16px);
    width: 38%;
    line-height: 32px;
    position: relative;
    z-index: 1;

    @include mq('desktop-s') {
      width: 60%;
    }

    @include mq('mobile-l') {
      width: 100%;
    }

    &:before {
      content: '';
      display: block;
      background: #ebd8d8;
      width: 100%;
      height: 9px;
      position: absolute;
      left: 0;
      top: 17px;
      z-index: -1;
    }
  }

  p {
    @include font-size(15px);
    width: 45%;
    line-height: 33px;

    @include mq('desktop-s') {
      width: 80%;
    }

    @include mq('mobile-l') {
      width: 100%;
    }
  }
}

/* about > articles > title */
.about__articles-title {
  padding: 50px 0;
  border-bottom: 1px dashed #c4c4c4;

  @include mq('mobile-l') {
    padding: 30px 0;
  }

  h3 {
    @include font-size(36px);
    font-weight: bold;
    color: $grey;
  }

  span {
    @include font-size(18px);
    display: inline-block;
    color: $main-color;
    margin-bottom: 27px;
  }

  p {
    @include font-size(16px);
    width: 85%;
    color: $grey-dark;

    @include mq('mobile-l') {
      width: 100%;
    }
  }
}

/* about > articles > content */
.about__articles-content {
  padding: 40px 0;
  border-bottom: 1px dashed #c4c4c4;

  @include mq('mobile-l') {
    padding: 30px 0;
  }

  h4 {
    @include font-size(18px);
    font-weight: normal;

    strong {
      font-weight: bold;
    }
  }

  &-list {
    a {
      display: block;
      margin: 20px 0 0 5px; 
      padding-left: 20px;
      position: relative;

      &:before {
        @include arrow-icon-pseudo();
        @include absolute($top: 3px, $left: -8px);
      }

      .theme-easy &:before {
        background-image: url('./../image/icon_arrow_right_red.png');
      }

      .theme-hard &:before {
        background-image: url('./../image/icon_arrow_right_blue.png');
      }

      .theme-hard &:hover {
        color: $sub-color;
      }
    }
  }
}

/* improvement__intro */
.improvement__intro {
  background: #a22424;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px 0 20px;

  @include mq('tablet') {
    padding: 30px 20px;

    img {
      display: none;
    }
  }

  &-content {
    @include font-size(14px);
    max-width: 700px;
    margin-left: 65px;
    color: white;

    @include mq('tablet') {
      margin-left: 0px;
    }

    h3 {
      @include font-size(36px);
      font-weight: normal;
      margin: 20px 0;
    }

    p {
      color: white;
    }
  }
}

/* improvent__list */
.improvement__list {
  background: $main-color;
  display: flex;
  justify-content: center;
  padding: 100px 20px;

  @include mq('desktop-xl') {
    flex-direction: column;
    align-items: center;
  }

  @include mq('mobile-l') {
    padding: 40px 20px;
  }
}

.improvement__card__container {
  display: flex;
  justify-content: space-evenly;
  width: 470px;

  @include mq('desktop-xl') {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
  }

  @include mq('tablet') {
    width: 100%;
  }

  &:nth-last-of-type(1) .arrow-icon {
    display: none;
  }
  &:nth-last-of-type(1) {
    width: 400px;

    @include mq('desktop-xl') {
      width: 650px;
    }

    @include mq('tablet') {
      width: 100%;
    }
  }
  .arrow-icon {
    display: inline-block;
    width: 37px;
    height: 37px;
    background: #9d2a2a;
    align-self: center;
    border-radius: 50%;
    margin: 15px;
    position: relative;

    &:before {
      @extend %fontawesome-icon;
      @include absolute($top: 8px, $left: 9px);
      content: fa-content($fa-var-arrow-right);
      font-size: 22px;
      color: white;

      @include mq('desktop-xl') {
        content: fa-content($fa-var-arrow-down);
      }
    }
  }
}

.improvement__list-card {
  border-radius: 15px;
  width: 400px;
  background: white;
  padding: 35px 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @include mq('desktop-xl') {
    width: 650px;
  }

  @include mq('tablet') {
    width: 100%;
  }

  span {
    background: $main-color;
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
  }

  h4 {
    display: inline-block;
    margin: 30px 0 35px 0;
    padding: 0 10px;
    position: relative;
    z-index: 1;

    &:before {
      @extend %custom-border-bottom;
    }
  }

  li {
    line-height: 2.2em;
    padding-left: 35px;
    position: relative;

    &:before {
      @include arrow-icon-pseudo('./../image/icon_arrow_right.png');
      @include absolute($top: 8px, $left: 5px);
      width: 20px;
      height: 20px;
    }
  }
}

/* improvement__articles */
.improvement__articles {
  background: $main-color;
  color: white;
  padding:0 20px 140px 20px;

  @include mq('mobile-l') {
    padding-bottom: 50px;
  }

  p {
    @include font-size(18px);
    color: white;
    text-align: center;
  }
}

.improvement__articles__list {
  max-width: 800px;
  margin: 0 auto;
  border: 1.5px solid white;
  border-radius: 20px;
  padding: 40px;
  margin-top: 46px;
}

.improvement__articles__list li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 25px 0 15px 0;
  border-bottom: 1px dashed #c4c4c4;

  &:nth-last-of-type(1) {
    border: none;
  }

  time {
    @include font-size(12px);
    width: 70px;
    display: inline-block;
    margin-right: 20px;

    @include mq('tablet') {
      order: 1;
    }
  }

  a {
    @include font-size(15px);
    flex: 1;
    font-weight: bold;
    &:hover {
      color: darken(white, 10);
    }

    @include mq('tablet') {
      order: 3;
      flex-basis: 100%;
      margin-top: 20px;
    }
  }
  span {
    @include font-size(12px);
    border-radius: 2px;
    padding: 5px 15px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

    @include mq('tablet') {
      order: 2;
    }
  }
}

.tag__theme-1 {
  background-color: #d9adad;
}

.tag__theme-2 {
  background-color: #f36f6f;
}

.tag__theme-3 {
  background-color: #f67558;
}
