.cta {
  max-width: $width-desktop-s;
  text-align: center;
  padding: 70px 20px;

  background: url(./../image/img_cta_bg.svg) 0 165px no-repeat;
  background-size: 230px auto;

  &__title {
    @include font-size(26px);
    margin-bottom: 1rem;
  }

  &__content {
    @include font-size(14px);
    max-width: 500px;
    margin: 0 auto 1rem;
  }
}

@include mq('tablet') {
  .cta {
    padding-bottom: 130px;
    background-position: center 250px;
  }
}
@include mq('mobile-s') {
  .cta {
    padding-bottom: 150px;
    background-position: center 330px;

    &__button {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}

.cta__button {
  @include button_1($withIcon: true);
  color: white;
  &:not(:nth-last-of-type(1)) {
    margin-right: 10px;
  }

  &-mail {
    background: darken($grey, 15);
    &:hover {
      background: darken($grey, 25);
    }
  }
}