.footer {
	width: 100%;
	background: white;
	color: $grey;
	border-top: 1px solid $main-color;
	box-shadow: 0px -5px 20px rgba(202, 65, 65, 0.05);
}

// footer content
.footer__content {
	display: flex;
	justify-content: space-evenly;
	padding: 60px;
	max-width: 1200px;
	margin: 0 auto;
}

// footer social media links 
.footer__links {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 250px;

	.logo {
		display: flex;
		align-items: center;
		margin-bottom: 28px;

		.pic {
			@extend %responsive-img;
			width: 55px;
			height: 55px;
			margin-right: 16px;
		}

		h3 {
			@include font-size(24px);
			margin: 0;
		}	
	}

	p {
		@include font-size(14px);
	}

	.footer__follow {
		color: black;
		font-weight: bold;
		letter-spacing: 0.12rem;
	}
}

.social-icons {
	a {
		@include font-size(27px);
		margin-right: 24px;
	}
}

// footer navs 
.footer__nav-list {
	display: flex;
	justify-content: space-evenly;
	flex: 1;
	max-width: 750px;
}

.footer__nav-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	h4 {
		@include font-size(14px);
		padding-bottom: 12px;
		margin-bottom: 15px;
		font-weight: bold;
		letter-spacing: 0.12rem;
		border-bottom: 1px solid $grey-light;
	}

	a {
		@include font-size(12px);
		line-height: 2em;
		letter-spacing: 0.15rem;
	}
}

.footer__footnote {
	@include font-size(12px);
	text-align: center;
	background: $main-color;
	color: white;
}


@include mq('desktop-s') {
	.footer {
		&__content {
			flex-direction: column;
			padding: 40px 30px;

		}
		&__links {
			width: 100%;

			.logo {
				margin-bottom: .5rem;
				.pic {
					width: 40px;
					height: 40px;
				}

				h3 {
					@include font-size(16px)
				}
			}

			p {
				@include font-size(13px)
			}

		}

		&__social {
			justify-content: center;
		}

		&__follow {
			display: none;
		}

		&__nav-list {
			display: none;
		}
  }
}