/* header -------------------- */
.header {
  position: fixed;
  z-index: 9;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 140px;
  margin: 30px auto;
  pointer-events: none;

  @include mq('desktop-m') {
    padding: 0 30px;
  }

  @include mq('tablet') {
    padding: 0 4vw;
  }
}

/* uncss:ignore */
header.menu-opened {
  @include mq('desktop-s') {
    .header__content {
      height: auto;
    }
  }
}

/* header > content */
.header__content {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background: white;
  border-radius: 40px;
  pointer-events: auto;
  box-shadow: 0 4px 30px 0 $shadow-color;
  border: solid 0.5px $shadow-color;
  transition: all 0.275s cubic-bezier(0.07, 0.82, 0.41, 0.97);
  transition-property: width, height;

  @include mq('desktop-s') {
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;

  }
}

/* header > content > logo */
.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include mq('desktop-s') {
    width: 100%;
    margin-bottom: 34px;
  }
}

.header__logo-img {
  display: block;
  height: 40px;
  width: 110px;
  background: url(./../image/logo_mtr.png) left top no-repeat;
  background-size: 100% auto;
}

/* header > content > icon */
.header__responsive__icon {
  @extend %transition;
  @include border-radius(50%);
  width: 45px;
  height: 45px;
  display: none;
  color: white;
  background-color: $main-color;
  cursor: pointer;

  &:hover {
    transform: scale(1.04);
  }

  @include mq('desktop-s') {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* header > content > nav */
nav {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  opacity: 1;
  transition: opacity .5s;

  ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;

    @include mq('desktop-s') {
      flex-direction: column;
    }
  }
}

/* nav > ul > li */
nav li {
  display: inline-block;
  font-size: 15px;
  color: $grey;

  @include mq('desktop-s') {
    border-top: 1px solid rgba(0, 0, 0, 0.08);

    &:nth-last-of-type(1) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      margin-bottom: 27px;
    }
  }

  a {
    @extend %transition;
    display: inline-block;
    padding: 16px 0;
    margin: 0 15px;
    position: relative;

    @include mq('desktop-s') {
      width: 100%;
    }

    &:before {
      z-index: 1;
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 1px;
      background: $main-color;
      transform: scale(0, 1);
      transition: transform 0.6s ease;

      @include mq('desktop-s') {
        width: 0;
      }
    }
  }
}

/* nav > ul > li:hover */
nav li:hover {
  a {
    color: $main-color;

    &:before {
      transform-origin: left;
      transform: scale(1, 1);
    }
  }
}

/* header > content > CTA button */
.header__cta-btn {
  @include button_1($withIcon: true);
  transition-delay: 0.2s;

}

/* uncss:ignore start */
/* media query */
@media (min-width: $width-desktop-s) {
  // header shrunk
  .header.is-shrunk {
    .header__logo {
      width: 100%;
    }

    .header__content {
      display: flex;
      justify-content: space-between;
      width: 280px;
    }

    nav {
      display: none;
    }

    .header__cta-btn {
      display: none;
    }

    .header__responsive__icon {
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  /* header invisible */
  nav.content-invisible,
  .header__cta-btn.content-invisible {
    visibility: hidden;
    opacity: 0;
  }
}
/* uncss:ignore end */