.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  &.is-shrunk {
    .header__box {
      display: flex;
      justify-content: flex-end;
    }

    .header__content {
      display: flex;
      justify-content: space-between;
      width: 280px;
    }

    .header__cta-btn {
      display: none;
    }

    nav {
      display: none;
    }

    .header__responsive__icon {
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.header__wrapper {
  position: fixed;
  width: 100%;
  margin: 30px auto;
}

.header__box {
  display: flex;
  justify-content: flex-end;
  padding: 0 140px;
  @include mq('desktop-m') {
    padding: 0 60px;
  }

  @include mq('tablet') {
    padding: 0 6vw;
  }
}

.header__content {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background: white;
  border-radius: 40px;
  box-shadow: 0 4px 30px 0 $shadow-color;
  border: solid 0.5px $shadow-color;
  transition: width 0.275s cubic-bezier(0.07, 0.82, 0.41, 0.97);
}

// logo
.header__logo {
  display: block;
  height: 40px;
  width: 110px;
  background: url(/public/image/logo_mtr.png) left top no-repeat;
  background-size: 100% auto;
}

// nav
nav {
  display: flex;
  flex: 1;
  justify-content: center;
  
  @include mq('desktop-m') {
    display: none;
  }

  li {
    display: inline-block;
    font-size: 15px;
    color: $grey;

    a {
      @extend %transition;
      display: inline-block;
      padding: 5px 0;
      margin: 0 15px;
      position: relative;

      &:before {
        z-index: 1;
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background: $main-color;
        transform: scale(0, 1);
        transition: transform 0.6s ease;
      }
    }
  }
}

// nav
nav li:hover {
  a {
    color: $main-color;

    &:before {
      transform-origin: left;
      transform: scale(1, 1);
    }
  }
}

// CTA button
.header__cta-btn {
  @extend %transition;
  transition-delay: 0.2s;
  padding: 15px 30px 15px 25px;
  border-radius: 50px;
  background-color: $main-color;
  box-shadow: 0 5px 5px 0 $shadow-color;
  margin-left: auto;

  span {
    font-size: 15px;
    line-height: 0.92;
    letter-spacing: 1.92px;
    color: white;
  }

  &:after {
    @extend %fontawesome-icon;
    @extend %transition;
    color: white;
    content: fa-content($fa-var-long-arrow-alt-right);
    position: relative;
    right: -5px;
  }

  &:hover {
    padding: 15px 40px 15px 35px;
    background-color: darken($main-color, 5);

    &:after {
      right: -10px;
    }
  }
}

// responsive icon
.header__responsive__icon {
  @extend %transition;
  @include border-radius(50%);
  width: 45px;
  height: 45px;
  display: none;
  color: white;
  background-color: $main-color;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  @include mq('tablet') {
    width: 9.333333333333334vw;
    height: 9.333333333333334vw;
  }
}

// responsive menu

.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow-y: auto;
  z-index: 10;
  transition: height .5s;
}

.header__menu.is-opened {
  height: 100%;

  .header__menu__close-btn {
    opacity: 1;
  }
}

.header__menu__wrapper {
  background: $main-color;
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}

.header__menu__close-btn {
  @extend %transition;
  @include font-size(50px);
  position: fixed;
  right: 0;
  top: 0;
  border: 0;
  padding: 40px;
  outline: none;
  background-color: $main-color;
  opacity: 0;
  transition: opacity .5s;
  transition-delay: opacity 1s;

  &:hover {
    color: white;
  }
}

.header__menu__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 150px;
  color: white;

  h3 {
    @include font-size(50px);
  }

  a {
    @include font-size(20px);
    line-height: 2;
    padding: 10px 20px;

    &:hover {
      background-color: $grey-light;
      color: white;
    }
  }
}

.off {
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}