section.section.cta
  h3.cta__title 想轉職成工程師嗎？
  p.cta__content 您可以看看常見問題或者直接線上洽詢，會有親切的客服人員回答您的問題，也可以透過社群網站隨時關注我們的動態。
  .cta__operate
    a(href="#").cta__button.cta__button-apply 填寫報名表單
    a(href="mailto:huli@lidemy.com").cta__button.cta__button-mail 寄報名信