section.section.cta
  h3.cta__title 想要一起來學習程式嗎？
  p.cta__content 第四期現正招生中，到六月初截止，建議你可以先把官網的資訊都看完再做決定，有任何問題都可以透過 Lidemy 粉絲專頁與我們聯絡！
  .cta__operate
    a(href="course-info.html").cta__button.cta__button-apply 了解報名資訊
    a(href="mailto:huli@lidemy.com").cta__button.cta__button-mail 寄報名信