mixin footer_nav_item(item) 
  li.footer__nav-item
    h4.footer__nav-title= item.title
    each content in item.contents
      a(href=`${content.link}`)= content.text

//- footer
block footer
  footer.footer
    .footer__content
      .footer__links
        a(href="#").logo
          .pic
            img(src="./image/logo_lidemy.png" alt="lidemy logo").footer__logo-img
          h3 Lidemy
        p 用六個月的時間，培養出一個找得到工作且基礎紮實的網頁工程師。
        p.footer__follow FOLLOW US
        .footer__social.social-icons
          a(href="#").github-link
            <i class="fab fa-github"></i>
          a(href="#").facebook-link
            <i class="fab fa-facebook-square"></i>
          a(href="#").medium-link
            <i class="fab fa-medium"></i>
      ul.footer__nav-list
        -
          var footerItems = [
            {
              title: "HOME",
              contents: [
                { text: "課程特色", link: "index.html#features"},
                { text: "課程內容", link: "index.html#content"},
                { text: "教學方式", link: "index.html#methods"},
                { text: "課程時程", link: "index.html#schedule"},
                { text: "適合怎樣的人", link: "index.html#target"},
                { text: "學員心得節錄", link: "index.html#experience"},
              ]
            },
            {
              title: "INTRODUCE",
              contents: [
                { text: "計畫介紹", link: "introduce.html#planIntro"},
                { text: "老師介紹", link: "introduce.html#teacherIntro"},
                { text: "歷屆改進心得", link: "introduce.html#experience"},
              ]
            },
            {
              title: "COURSE",
              contents: [
                { text: "課程大綱", link: "course.html#outline"},
                { text: "學習地圖", link: "course.html#map"},
              ]
            },
            {
              title: "RESULT",
              contents: [
                { text: "歷屆數據", link: "achievement.html#data"},
                { text: "學生求職成果", link: "achievement.html#report"},
                { text: "結業心得", link: "achievement.html#experience"},
              ]
            },
            {
              title: "APPLY",
              contents: [
                { text: "課程制度", link: "course-info.html#rule"},
                { text: "收費方式", link: "course-info.html#charge"},
                { text: "報名方式", link: "course-info.html#registration"},
                { text: "報名信內容", link: "course-info.html#letter"},
              ]
            },
            {
              title: "FAQ",
              contents: [
                { text: "常見問題", link: "faq.html"},
              ]
            },
          ];
        each item in footerItems
          +footer_nav_item(item)
    p.footer__footnote.py-2.mb-0 © 2020 Lidemy. All Right Resevered.