header.header
  .header__content
    .header__logo
      a.header__logo-img(href="index.html")
      i(class="fas fa-bars header__responsive__icon")
    nav.header__nav
      ul
        -
          var navs = [
            { name: "計畫介紹", src: "introduce" },
            { name: "課程大綱", src: "syllabus" },
            { name: "教學成果", src: "achievement" },
            { name: "課程資訊", src: "course-info" },
            { name: "FAQ",     src: "faq" }
          ];
        each item in navs
          li 
            a(href=`${item.src}.html`)= item.name
    a.header__cta-btn(href="") 了解報名資訊