-
  var meta = {
    url: 'https://bootcamp.lidemy.com',
    title: 'Lidemy 程式導師實驗計畫第四期',
    type: 'website',
    desc: '不喊口號也不誇大成效，開放透明的前後端線上學習計畫。 用六個月的時間，培養出一個找得到工作且基礎紮實的網頁工程師。',
    img_src: '/image/og-img.png',
    twitter_card: 'summary_large_image'
  }

mixin head_block(headInfo)
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="Description" content= meta.desc)
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    meta(property="og:title" content= meta.title)
    meta(property="og:description" content= meta.desc)
    meta(property="og:image" content= meta.url + meta.img_src)
    meta(property="og:type" content= meta.type)
    meta(property="og:url" content= meta.url)
    meta(property="og:site_name" content= meta.title)
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="628")

    meta(name="twitter:card" content= meta.twitter_card)
    meta(name="twitter:title" content= meta.title)
    meta(name="twitter:description" content= meta.desc)
    meta(name="twitter:image" content= meta.url + meta.img_src)

    link(rel='stylesheet' href='css/main.min.css')
    link(rel="icon" type="image/png" sizes="96x96" href="./image/favicon-96x96.png")
    title #{headInfo.title} | Lidemy 程式導師實驗計畫第四期


// layout
doctype html
block current
  - var currentUrl

html(lang='en')
  block head
    +head_block('default')

  body(class= (currentUrl === 'index' && 'theme-index'))
    block header
      include header.pug
    .wrapper
      block content
      button.scroll-top-btn.content-invisible(aria-label="scrollToTop")
    block footer
      include footer.pug

    script(defer src="js/index.bundle.js")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap")

