// mixin
mixin head_block(headInfo)
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
    link(rel='stylesheet' href='css/main.min.css')
    title #{headInfo.title} | Lidemy 程式導師實驗計畫第四期

// layout
doctype html
block current
  - var currentUrl

html(lang='en')
  block head
    +head_block('default')

  body(class= (currentUrl === 'index' && 'theme-index'))
    block header
      include header.pug
    .wrapper
      block content
      button.scroll-top-btn.content-invisible
    block footer
      include footer.pug

    // ignore me
    script(defer src="js/index.bundle.js")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap")

