@mixin button_1($withIcon, $iconId: $fa-var-long-arrow-alt-right) {
  @extend %transition;
  display: inline-block;
  padding: 12px 25px;
  background: $main-color;
  color: white;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 30px;
  letter-spacing: 0.2rem;
  font-size: 15px;

  &:hover {
    color: white;
  }

  @if ($withIcon) {
    &:after {
      @extend %fontawesome-icon;
      @extend %transition;
      color: white;
      content: fa-content($iconId);
      position: relative;
      right: -5px;
    }

    &:hover {
      background-color: darken($main-color, 5);

      &:after {
        right: -10px;
      }
    }
  }
}

%shadow-card {
  background: white;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px 20px;
  margin: 0 auto;
}

/* common__title -------------------- */
.common__title {
  @include font-size(22px);
  line-height: 3.2rem;
  margin-bottom: 20px;
  color: $color-theme-dark;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  &.left {
    text-align: left;
  }

  a {
    position: relative;
    padding-left: 15px;

    &:before {
      @include pseudo(inline-block, '#');
      @include absolute($left: 0);
      color: $main-color;
      font-size: 16px;
      font-weight: bold;
    }

    &:hover {
      color: $main-color;
    }
  }
}


/* link -------------------- */
%link {
  @include font-size(15px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-weight: normal;

  &:before {
    @extend .svg-icon_arrow_right_red;
    @include pseudo(inline-block);
    @include relative($top: 7px, $left: 15px);
    width: 45px;
    height: 20px;
  }
}

/* wave -------------------- */
.wave {
  height: 24px;
  background-position: left top;
  background-repeat: repeat-x;
}

/* post -------------------- */
.post {
  max-width: $width-tablet;
  margin: 0 auto;

  &:not(:nth-last-of-type(1)) {
      margin-bottom: 2.5rem;
    }

  &__content {
    border-top: 1px dashed $grey-light;
    padding: 25px 0;

    p {
      @include font-size(16px);
      line-height: 2rem;
      color: $grey;
    }

    ol {
      padding-left: 40px;
    }

    .annotation {
      @include font-size(14px);
    }
  }
}

/* post > strong, a */
.post__content a {
  display: inline-block;
  margin: 2px 5px;
  padding: 0px 10px;
  color: $color-theme-dark;
  font-weight: bold;
  border: none;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-style: wavy;
  text-decoration-color: lighten($color-theme-dark, 30);
  box-shadow: 0 0 1px rgba(black, 0.1);
  line-height: 1.7rem;

  .theme-light & {
    color: white;
  }

  &:hover {
    border-color: lighten($color-theme-dark, 30);
    color: lighten($color-theme-dark, 30);
  }
}
.post__content strong{
  margin-bottom: 10px;
  position: relative;
  margin: 0 5px;
  z-index: 1;
  padding: 0 5px;
  font-weight: normal;

  &:before {
    content: '';
    display: block;
    background: #ebd8d8;
    width: 100%;
    height: 9px;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: -1;

    .theme-light & {
      background: darken($main-color, 10);
    }
  }
}

/* post: theme-light */
.post {
  .theme-light &__title {
    color: white;
    &:before {
      color: rgba(white, 0.5);
    }

    a:hover {
      color: rgba(white, 0.9);
    }
  }
  .theme-light &__content {
    border-color: white;
    p {
      color: white;
      strong {
        color: white;
      }
    }
  }
}