html, body {
  background: $main-bg-Color
}

.wrapper {
  padding: 160px 0 0;

  @include mq('mobile-l') {
    padding-top: 110px;
  }
}

.scroll-top-btn {
  @include absolute($bottom: 15px, $right: 15px);
  width: 80px;
  height: 80px;
  position: fixed;
  background-color: $main-color;
  border-radius: 50%;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 1);
  z-index: 10;

  &:focus {
    outline: none;
  };

  &:after {
    @extend %fontawesome-icon;
    @include font-size(40px);
    @include pseudo(inline-block);
    @include relative($top: 0px, $right: 0px);
    content: fa-content($fa-var-arrow-up);
    color: white;
  }
}

.section {
  padding: 0 20px;
  margin: 0 auto;
}

.full-bg {
  background: $color-theme-light;
  padding: 5rem 20px;

  &.theme-dark {
    background: $main-color;
  }

  @include mq('mobile-l') {
    padding: 3rem 15px;
  }
}
