html, body {
  background: $main-bg-Color
}

.wrapper {
  padding: 160px 0 0;

  @include mq('mobile-l') {
    padding-top: 110px;
  }
}

.scroll-top-btn {
  @extend %transition;
  @include fixed($bottom: 20px, $right: calc((100vw - 1200px) / 2));
  @include size(50px);
  background-color: lighten($main-color, 8);
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0,0,0, .2);
  z-index: 10;

  &:focus {
    outline: none;
  };

  &:after {
    @extend %fontawesome-icon;
    @include font-size(15px);
    @include pseudo(inline-block);
    content: fa-content($fa-var-arrow-up);
    color: white;
  }

  @include mq('desktop-l') {
    right: 20px;
  }
  
  @include mq('tablet') {
    @include size(40px);
  }
}

/* uncss:ignore start */
.scroll-top-btn.content-invisible {
  visibility: hidden;
  opacity: 0;
}
/* uncss:ignore end */


.theme-index {
  background: white;
  .wrapper {
    background: url(./../image/img_visual_light.svg) center top no-repeat;
    background-position-y: 100px;
    padding-top: 240px;

    @include mq('mobile-l') {
      background-position-y: 75px;
      background-size: 20% auto;
      padding-top: 150px;
    }
  }

  .full-bg {
    background: url(./../image/bg_dot.svg);
    padding: 0;
  }
}

.section {
  padding: 0 20px;
  margin: 0 auto;
}

.full-bg {
  background: $color-theme-light;
  padding: 5rem 20px;

  &.theme-dark {
    background: $main-color;
  }

  @include mq('mobile-l') {
    padding: 3rem 15px;
  }
}

