body {
  background-color: $main-bg-Color;
}

body.theme-index {
  background-color: white;
  background-image: url(./../image/grey_bg.svg), url(./../image/red_line_bg.svg);
  background-position: right -60vw top 400px,left -25vw top -300px;
  background-repeat: no-repeat;

  @include mq('desktop-m') {
    background-position: right -35vw top 43vw,left -40vw top -360px;
    background-size: 90%;
  }
  @include mq('tablet') {
    background-position: right -35vw top 55vw;
    background-image: url(./../image/grey_bg.svg);
  }
  @include mq('mobile-l') {
    background-position: right -35vw top 65vw;
  }
}

.wrapper {
  padding: 160px 0 0;

  @include mq('mobile-l') {
    padding-top: 110px;
  }
}

.scroll-top-btn {
  @extend %transition;
  @include fixed($bottom: 20px, $right: calc((100vw - 1200px) / 2));
  @include size(50px);
  background-color: lighten($main-color, 8);
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0,0,0, .2);
  z-index: 10;

  &:focus {
    outline: none;
  };

  &:after {
    @extend %fontawesome-icon;
    @include font-size(15px);
    @include pseudo(inline-block);
    content: fa-content($fa-var-arrow-up);
    color: white;
  }

  @include mq('desktop-l') {
    right: 20px;
  }
}

/* uncss:ignore start */
.scroll-top-btn.content-invisible {
  visibility: hidden;
  opacity: 0;
}
/* uncss:ignore end */


.theme-index {
  .wrapper {
    background: url(./../image/img_visual_light.svg) center top no-repeat;
    background-position-y: 100px;
    padding-top: 220px;

    @include mq('mobile-l') {
      background-position-y: 75px;
      background-size: 20% auto;
      padding-top: 150px;
    }
  }

  .full-bg {
    background-color: white;
    background-repeat: repeat, no-repeat, no-repeat;
    background-position: center,left 50vw top 150px,left -45vw bottom -50px;
    padding: 0;

    @include mq('desktop-l') {
      background-image: url(./../image/bg_dot.svg), url(./../image/grey_bg.svg);
      background-position: center,left 30vw top 400px;
      background-repeat: repeat, no-repeat;
    }
  }
}

.section {
  padding: 0 20px;
  margin: 0 auto;
}

.full-bg {
  background: $color-theme-light;
  padding: 4rem 20px;

  &.theme-dark {
    background: $main-color;
  }

  @include mq('mobile-l') {
    padding: 2rem 15px;
  }
}

