// main color
$main-color: #ca4141;
$main-color-dark: #B53939;
$main-bg-Color: #f8f8f8;
$logo-color: #eb2629;
$shadow-color: rgba(0, 0, 0, 0.1);

$grey: #666;
$grey-dark: #333;
$grey-light: #999;

// width
$width-desktop-l: 1200px;
$width-desktop-m: 1080px;
$width-desktop-s: 900px;

$width-tablet: 768px;

$width-mobile-l: 480px;
$width-mobile-m: 414px;
$width-mobile-s: 360px;